body{
    background-color: #000;
    text-align: center;
    height: 150vh;
}

img{
    display: block;
    margin-left: 25%; /* This is how you center a div */
    width: 50%;
    margin-top: 30px;
    border: 5px solid gold;
}

.title{
    color: gold;
    font-size: 60px;
    margin: 0;
}

.quote{
    color: antiquewhite;
    font-size: 30px;
}

span{
    font-size: 17px;
}

